.landing-title {
  font-weight: 600;
  font-size: 40px;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}

.landing-title::before {
  content: "";
  position: absolute;
  left: 62;
  bottom: -4px;
  height: 5px;
  width: 60px;
  border-radius: 8px;
  background-color:  rgba(106, 73, 250, 0.6);
}

.result-candidates {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px; /* Optional: add some space between cards */
}

.results-section {
    margin-top: calc(35vh - 150px); /* Adjust as needed */
    margin-bottom: calc(35vh - 150px); /* Adjust as needed */
}
